/* Light mode styles (default) */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

h1, h3 {
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}

video {
    border: 2px solid #007bff;
    border-radius: 5px;
    width: 100%;  /* Adjust this to the width you desire */
    max-width: 400px; /* Limit the maximum width */
    height: auto;  /* Maintain aspect ratio */
    display: none;  /* Initially hide the video element */
    object-fit: contain; /* Ensures the video is contained within the element, maintaining its aspect ratio */
}

#barcode-result {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
}

#product-name {
    color: #007bff;
    margin-top: 10px;
}

table {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

#defrosting-info {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

/* Dark mode styles */

#toggle-darkmode {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
    color: #007bff;

    position: fixed;
    top: 20px; /* Adjust top position */
    right: 20px; /* Adjust right position */
    z-index: 1000; /* Ensure the button stays on top of other elements */
}

#toggle-darkmode:hover {
    color: #007bff;
}

#toggle-darkmode i {
    transition: transform 0.3s ease;
}

.dark-mode {
    background-color: #121212;
    color: #ddd;
}

.dark-mode h1, .dark-mode h3 {
    color: #f0f0f0;
}

.dark-mode button {
    background-color: #444;
    color: #fff;
}

.dark-mode button:hover {
    background-color: #333;
}

.dark-mode video {
    border: 2px solid #444;
}

.dark-mode #barcode-result {
    background: #333;
    color: #fff;
}

.dark-mode table {
    background: #333;
}

.dark-mode th {
    background-color: #444;
    color: #fff;
}

.dark-mode #defrosting-info {
    color: #ccc;
}
